/*=========== GENERAL ==========*/

:root {
    --jumbotron-padding-y: 3rem;
    --jumbotron-margin-t: 4rem;
    --navbar-padding-top: 10px;
}

/*=========== NAV ==========*/

.navbar-light::before {
    content: " ";
    display: inline-block;
    width: 100%;
    height: var(--navbar-padding-top);
    background-color: #228BD2;
    position: fixed;
    top: 0;
    left: 0;
}

.navbar {
    top: var(--navbar-padding-top);
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.21);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.21);
}

.navbar-toggler {
    border: 0;
}

@media (max-width:420px) {
    li.nav-item,
    .dropdown-item {
        padding: .4rem;
    }
}

/*=========== MAIN ==========*/

.jumbotron {
    margin-top: var(--jumbotron-margin-t);
    padding-top: var(--jumbotron-padding-y);
    padding-bottom: var(--jumbotron-padding-y);
    margin-bottom: 0;
    background-color: #fff;
}

@media (min-width: 768px) {
    .jumbotron {
        padding-top: calc(var(--jumbotron-padding-y) * 2);
        padding-bottom: calc(var(--jumbotron-padding-y) * 2);
    }
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron-heading {
    font-weight: 300;
}

.jumbotron .container {
    max-width: 40rem;
}

.card {
    transition: all .25s ease-in-out;
}

.card:hover {
    transform: translateY(-5px);
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}


/*=========== FOOTER ==========*/

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

footer p {
    margin-bottom: .25rem;
}
