// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:400,500,700|Alegreya:700,800&display=swap');

// Required
@import "../bootstrap/scss/functions";
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/mixins";


// Re-define BS colors
$blue: #009ADE;
$yellow: #EDB458;
$red: #CF3339;

// Define new colors
$brown:#7F5B49;
$grey: #f2f2f2;

// Map colors
$colors: ("blue": #009ADE, "yellow":#EDB458, "green":#468B40, "red":#CF3339, "brown":$brown, "grey":$grey);

//Map theme-colors
$theme-colors: ("primary": $blue, "warning":$yellow, "danger":$red, "dark":$black, "light":$grey);

// customize theme
$body-bg: white;
$body-color: $black;
$font-family-sans-serif: 'Alegreya Sans',
sans-serif;
$headings-font-family:'Alegreya',
serif;
$input-font-family: 'Alegreya Sans',
sans-serif;
$font-family-base: $input-font-family;
$headings-color: $black;
$headings-font-weight: 700;
$navbar-light-color: $black;
$navbar-light-hover-color:$blue;
$navbar-light-active-color:$blue;
$navbar-light-toggler-border-color: transparent;
$navbar-nav-link-padding-x: 1.5rem;
$jumbotron-bg:white;
$btn-border-width:3px;
$btn-font-weight:bold;
$btn-padding-x:1.5rem;
$btn-padding-x-lg:2.25rem;
$link-color: darken($blue, 10%);
$link-hover-color:darken($link-color, 15%);
$input-border-color:$black;
$input-border-width:3px;
$input-placeholder-color: lighten($black, 50%);
$input-focus-bg:$grey;
$input-focus-color: $black;
$input-focus-border-color:$blue;
$input-color:$black;
$dropdown-border-width:0;
$nav-pills-link-active-color:$blue;
$nav-pills-link-active-bg: transparent;
$nav-link-padding-y: 0;
$nav-link-padding-x: .5*$spacer;
$modal-fade-transform: translate(0, 69px) scale(.69);
$modal-transition: transform .15s ease-out;
$modal-scale-transform: scale(1.02);


// Bootstrap
@import "../bootstrap/scss/bootstrap.scss";

body {
    //    animation: fadein 1s;
    //    -moz-animation: fadein 1s;
    //    -webkit-animation: fadein 1s;
    //    -o-animation: fadein 1s;
}


@keyframes fadein {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@-moz-keyframes fadein {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@-webkit-keyframes fadein {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@-o-keyframes fadein {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}


// Typography
h1 {
    font-size: $display3-size;

    @include media-breakpoint-down(sm) {
        font-size: $h1-font-size;
    }
}

h2 {
    font-size: $display4-size;

    @include media-breakpoint-down(sm) {
        font-size: $h2-font-size;
    }
}

form {
    label {
        color: $blue;
    }
}

.super-title {
    color: $blue;
    font-size: $h2-font-size;
    display: block;

    @include media-breakpoint-down(sm) {
        font-size: $h5-font-size;

    }
}

h3 {
    font-size: $font-size-base * 2.25;
}

h5 {
    color: $blue;
}

.logo {
//    width: 220px;
    height:51.5px;

    @include media-breakpoint-down(sm) {
        width: 180px;

    }
}

p.lead {
    @include media-breakpoint-down(sm) {
        font-size: $spacer;
    }
}

section {
    min-height: 50vh;
    padding-top: $spacer*5;
    padding-bottom: $spacer*5;
    overflow: hidden;
    position: relative;

    @include media-breakpoint-down(sm) {
        padding-top: $spacer*2;
        padding-bottom: $spacer*2;
    }
}

section.saputo-box {
    background-color: $blue;

    @include media-breakpoint-down(lg) {
        min-height: 20vh;
    }

    .wrapper-saputo-box {
        position: relative;

        img {
            position: absolute;
            width: 800px;
            left: -69%;
            top: -200px;

            @include media-breakpoint-down(lg) {
                position: static;
                width: 100%;
                margin-left: $spacer*-2;
            }
        }
    }

    .logo-saputo {
        width: 91px;
        margin-bottom: $spacer;
    }
}

section.winners {
    background-color: $grey;
    border: 20px solid white;
    text-align: center;
    padding-bottom: 0;

    @include media-breakpoint-down(sm) {
        border: none;
    }

    .artwork-winners-1 {
        position: absolute;
        max-width: 120px;
        left: 0;
        top: 25px;

        @include media-breakpoint-down(sm) {
            max-width: 90px;
            left: -10px;
            top: 21px;
        }
    }

    .artwork-winners-2 {
        position: absolute;
        max-width: 200px;
        right: 0;
        top: 45px;

        @include media-breakpoint-down(sm) {
            display: none;
        }
    }

    .img-winner {
        width: 120px;
        height: 120px;
        object-fit: cover;
        border-radius: 50%;

        @include media-breakpoint-down(sm) {
            width: 90px;
            height: 90px;
        }
    }
}

section.marketing {
    background-color: white;
    text-align: center;

    .img-marketing {
        width: 100%;
        max-width: 320px;

        @include media-breakpoint-down(sm) {
            max-width: 269px;
        }
    }

    .artwork-poutine {
        max-width: 100px;
        max-height: 80px;
    }
}

section.features {
    background-color: $grey;
    border: 20px solid white;

    @include media-breakpoint-down(sm) {
        text-align: center;
        border: none;
    }

    .img-feature-1 {
        max-width: 300px;
        max-height: 300px;
    }

    .img-feature-2 {
        max-width: 269px;
        max-height: 269px;
    }
}

section.spotlight {
    background-color: black;
    text-align: center;

    h2,
    p {
        color: white;
    }

    .img-spotlight {
        max-width: 300px;
        max-height: 300px;
    }
}

section.cta {
    background-color: white;
    text-align: center;

    .img-cta {
        max-width: 100%;
        max-height: 280px;
    }

}

section.register {
    background-color: white;
    text-align: center;

    h1 {
        font-size: $display4-size;

        @include media-breakpoint-down(sm) {
            font-size: $h2-font-size;
        }
    }

    img {
        position: absolute;
    }

    .img-register-1 {
        max-width: 140px;
        left: 10%;

        @include media-breakpoint-down(md) {
            display: none;
        }
    }

    .img-register-2 {
        max-width: 169px;
        right: 10%;

        @include media-breakpoint-down(md) {
            display: none;
        }
    }

    .img-register-3 {
        max-width: 220px;
        left: 5%;

        @include media-breakpoint-down(md) {
            display: none;
        }
    }
}

section.generic {
    h1 {
        font-size: $display4-size;

        @include media-breakpoint-down(sm) {
            font-size: $h2-font-size;
        }
    }

    .img-thank-you-1 {
        width: 100%;

        @include media-breakpoint-down(md) {
            width: 60%;
        }
    }

    .img-thank-you-2 {
        width: 35%;

        @include media-breakpoint-down(md) {
            width: 25%;
        }
    }

    .faq-item {
        margin-bottom: 3rem;
        margin-top: 3rem;
    }

    .img-faq-1 {
        width: 160px;
    }

    .img-faq-2 {
        width: 130px;
    }

    .img-faq-3 {
        width: 200px;
    }
}


footer {
    h5 {
        font-size: $font-size-base*1.1;
        margin-bottom: $spacer*1.25;
    }

    li:not(.list-inline-item) {
        margin-bottom: $spacer*.69;
    }

    a {
        color: white;

        &:hover {
            color: darken(white, 15%);
        }
    }
}

// new css 2020

.mobile-nav {
    @include media-breakpoint-up(lg) {
        display: none;
    }

    a {
        color: $black;
        margin-left: $spacer;
        text-decoration: none;

        &:hover {
            color: $blue;
        }
    }
}

.mobile-nav-open {
    position: relative;
    width: 100%;
    background-color: white;
    height: 100vh;
    z-index: 1;
    padding: 3rem 0;
    text-align: center;

    li {
        margin-top: $spacer*1.5;
    }

    a {
        color: black;
        font-size: $font-size-base*1.5;
        font-weight: bold;

        &.active {
            color: $blue;
        }
    }
}

.search-mobile {
    position: relative;
    width: 100%;
    background-color: #E8EAED;
    min-height: 10vh;
    z-index: 1;
    padding: 1rem 0 .5rem;
}

.desktop-nav {
    @include media-breakpoint-down(md) {
        display: none;
    }

    a {
        color: $black;
        margin-left: 2*$spacer;
        text-decoration: none;

        &:hover {
            color: $blue;
        }

        &.active {
            color: $blue;
        }
    }

    .search-desktop {
        position: absolute;
        right: 15px;
        top: 15px;
        width: 60%;
    }
}



.autocomplete-desktop {
    display: inline-block;
    width: 100%;
    min-height: 10vh;
    background-color: white;
    border-radius: 2px;
    padding: 0;
    box-shadow: $box-shadow;
    margin-top: $spacer*.25;
    margin-left: 3px;

    ul {
        margin-bottom: 0;
    }

    li {
        a {
            display: block;
            padding: .8*$spacer $spacer;
            margin-left: 0;

            &:hover {
                background-color: rgba(0, 0, 0, .1);
                color: black;
            }
        }
    }
}

.autocomplete-mobile {
    display: inline-block;
    position: absolute;
    width: 100%;
    min-height: 10vh;
    left: 0;
    right: 0;
    background-color: white;
    box-shadow: $box-shadow;

    ul {
        margin-bottom: 0;
    }

    li {
        a {
            display: block;
            padding: .8*$spacer $spacer;
            margin-left: 0;
            color: black;
            text-decoration: none;

            &:hover {
                background-color: rgba(0, 0, 0, .1);
                color: black;
            }
        }
    }
}

.location-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 1.5*$spacer;

    ul {
        @include media-breakpoint-down(md) {
            width: 50%;
            margin-bottom: 0;
        }

        li {
            margin-bottom: .69*$spacer;

            a {
                color: $black;
                text-decoration: underline;
                font-size: $font-size-base*1.25;

                &:hover {
                    color: $blue;
                }
            }
        }
    }
}

.sub-navbar {
    padding: $spacer;
    box-shadow: $box-shadow-sm;
    position: sticky;
    position: -webkit-sticky;
    top: 67px;
    z-index: 1;
    background-color: white;

    @include media-breakpoint-down(sm) {
        position: sticky;
        position: -webkit-sticky;
        top: 58px;
    }

    p {
        margin: 0;
    }

    a {
        color: black;
        text-decoration: underline;
        font-weight: 600;

        &:hover {
            color: $blue;
        }
    }
}

.mobile-filter-button {
    a {
        &:hover {
            color: white;
        }

        text-decoration: none;
    }
}

.ui-view {
    p {
        margin: 0;
        font-size: 1.1*$spacer;

        a {
            color: black;
            text-decoration: underline;
            font-weight: 600;

            &:hover {
                color: $blue;
            }
        }
    }

    .nav-pills {
        a {
            color: black;

            &.active {
                text-decoration: none;
            }
        }
    }
}

.results {

    .filter-box {
        background-color: $light;
        padding: 1.5*$spacer;
        position: sticky;
        position: -webkit-sticky;
        top: 150px;

        @include media-breakpoint-down(sm) {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            z-index: 2000;
            width: 69%;
            box-shadow: $box-shadow;
        }

        ul {
            li {
                a {
                    color: black;

                    &:hover,
                    &.active {
                        color: $blue;
                    }
                }
            }
        }
    }
}

.icard-list {
    position: relative;

    a {
        text-decoration: none;
    }
}

.icard {
    display: flex;
    flex-direction: column;
    transition: all .25s ease-in-out;
    margin-bottom:$spacer;

    @include media-breakpoint-down(sm) {
        flex-direction: row;
        align-items: center;
         margin-bottom:$spacer*.25;
    }

    &:hover .icard-img {
        box-shadow: $box-shadow;
    }

}

.icard-img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 160px;
    border-radius: 4px;
    transition: all .25s ease-in-out;

    @include media-breakpoint-down(sm) {
        width: 80px;
        height: 60px;
    }

}

.icard-content {
    display: block;
    padding: $spacer 0;


    h3 {
        @include media-breakpoint-up(sm) {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        font-size: $spacer;
        color: $blue;
    }

    h4,
    p {
        color: black;

        @include media-breakpoint-up(sm) {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    h4 {
        @include media-breakpoint-down(sm) {
            font-size: 1.25*$spacer;
            margin-bottom: 0;
        }
    }

    @include media-breakpoint-down(sm) {
        flex-grow: 1;
        padding: $spacer;
    }
}

.icard-footer {
    display: flex;
    justify-content: space-between;

    p {
        margin-bottom: 0;
    }
}


#map {
    width: 100%;
    height: calc(100vh - 244px);

    a {
        text-decoration: none;
    }

    .card {
        margin-bottom: 0;
        border: none;
        max-width: 320px;

        img {
            border-radius: 6px;
        }

        h3 {
            font-size: $spacer;
            color: $blue;
        }

        h4 {}

        &:hover {
            background: $light;
        }

        p {
            color: black;
            font-weight: 600;
        }
    }
}

// general UI 
.scrim {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .4);
    z-index: 3;
}


.scrollable {
    overflow-y: scroll;
}

.non-scrollable {
    overflow-y: hidden;
}

.preview-modal {
    .product-header {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: $spacer;
    }

    .product-description {
        margin-bottom: $spacer;
    }

    .modal-close {
        position: absolute;
        right: 15px;
        top: 15px;
    }

    img.preview-modal {
        object-fit: cover;
        width: 100%;
        height: 240px;

    }

    h3 {
        font-size: $font-size-base*1.25;
        color: $blue;
    }

    h4 {
        font-size: $font-size-base*1.69;
    }

    h5 {
        font-family: $input-font-family;
        color: black;
    }

    .modal-footer {
        justify-content: space-between;
    }
}

.product {
    padding: 3*$spacer 0 6*$spacer;

    @include media-breakpoint-down(sm) {
        padding: 1.5*$spacer 0 5*$spacer;
    }

    .product-description {
        margin-bottom: $spacer;
    }

    h3 {
        font-size: $font-size-base*1.5;
        color: $blue;
    }

    h4 {
        font-size: $font-size-base*3;
    }

    h5 {
        font-family: $input-font-family;
        color: black;
    }
}

.toast-holder {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    bottom: 15px;
    z-index: 2;

    &.toast-holder-69 {
        bottom: 69px;
    }

}

.toast {
    background-color: black;
    color: white;
    width: 500px;
}

.message-modal {
    .modal-close {
        position: absolute;
        right: 15px;
        top: 15px;
    }

    @include media-breakpoint-down(sm) {
        img {
            max-width: 240px;
        }
    }

}

.product-hours {

    th:first-child,
    td:first-child {
        width: 10%;
    }
}

.product-social,
.product-planweek {
    li {
        margin-bottom: $spacer*.5;
    }
}

.product-actions {
    position: fixed;
    padding: $spacer*.5;
    background-color: white;
    box-shadow: $box-shadow;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;

    .btn {
        @include media-breakpoint-down(sm) {
            padding-left: $spacer*.5;
            padding-right: $spacer*.5;
        }
    }

}
.account{
    padding:3*$spacer 0;
}